plugin: community.digitalocean.digitalocean
api_token: "{{ lookup('ansible.builtin.env', 'DO_TOKEN') }}"

attributes:
  - id
  - name
  - memory
  - vcpus
  - disk
  - size
  - image
  - networks
  - volume_ids
  - tags
  - region

keyed_groups:
  - key: do_tags
    prefix: tag
    separator: "_"

compose:
  ansible_host: do_networks.v4 | selectattr('type', 'equalto', 'public') | map(attribute='ip_address') | first
  ansible_user: root