# This file is managed by Ansible.
# For more information about this file, see the chrony.conf(5) manual page.
#
# Use public NTP servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
{% for server in ntp_servers %}
pool {{ server }} iburst
{% endfor %}

# Record the rate at which the system clock gains/loses time.
driftfile /var/lib/chrony/drift

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

# Enable logging of significant changes to the system clock.
logchange 0.5

# Serve time even if not synchronized to a time source.
# local stratum 10