apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: azure-kv-cluster
spec:
  provider:
    azurekv:
      authType: ManagedIdentity
      identityId: {{ eso_identity_client_id }}
      vaultUrl: {{ eso_keyvault_url }}