---
- name: Initial VM Setup
  hosts: all
  become: true
  gather_facts: true

  pre_tasks:
    - name: Wait for system to become reachable
      wait_for_connection:
        timeout: 300

    - name: Gather facts after connection
      setup:

  roles:
    - common
  vars_files:
    - ../group_vars/all.yml